@inject SignInManager<DbUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

 <!-- Managers -->
<li class="menu-header small text-uppercase"><span class="menu-header-text"> Managers</span></li>     
<li class="menu-item active open">
 <a href="javascript:void(0);" class="menu-link menu-toggle">
                            <i class="menu-icon tf-icons bx bx-dock-top"></i>
                            <div data-i18n="Account Settings">Account Settings</div>
                        </a>
                        <ul class="menu-sub">
                            <li class="menu-item @ManageNavPages.IndexNavClass(ViewContext)">
                                <a asp-page="./Index" class="menu-link">
                                    <div data-i18n="Profile">Profile</div>
                                </a>
                            </li>
                            <li class="menu-item @ManageNavPages.EmailNavClass(ViewContext)">
                                <a asp-page="./Email" class="menu-link">
                                    <div data-i18n="Email">Email</div>
                                </a>
                            </li>
                            <li class="menu-item @ManageNavPages.ChangePasswordNavClass(ViewContext)">
                                <a asp-page="./ChangePassword" class="menu-link">
                                    <div data-i18n="Password">Password</div>
                                </a>
                            </li>
                             @if (hasExternalLogins)
                            {
                                <li class="menu-item  @ManageNavPages.ExternalLoginsNavClass(ViewContext)">
                                <a asp-page="./ExternalLogins" class="menu-link">
                                    <div data-i18n="External-logins">External logins</div>
                                </a>
                                </li>
                            }
                            <li class="menu-item @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)">
                                <a asp-page="./TwoFactorAuthentication" class="menu-link">
                                    <div data-i18n="Two-factor-authentication">Two-factor authentication</div>
                                </a>
                            </li>
                             <li class="menu-item @ManageNavPages.PersonalDataNavClass(ViewContext)">
                                <a asp-page="./PersonalData" class="menu-link">
                                    <div data-i18n="Two-factor-authentication">Personal data</div>
                                </a>
                            </li>
                        </ul>
                    </li>                       
                   




@* <ul class="nav nav-pills flex-column">
    <li class="nav-item"><a class="nav-link @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">Profile</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">Email</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="nav-item"><a class="nav-link @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
    <li class="nav-item"><a class="nav-link @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">Personal data</a></li>
</ul> *@
