@model ECommerceMVC.ViewModels.UserVMWithDbRoles


<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Basic Tables</h4>

    <!-- Basic Bootstrap Table -->
    <div class="card">
       

        <div class="table-responsive text-nowrap p-4 pt-0">
            
            <table class="table table-striped" id="js-table-users">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Avatar)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Name)
                        </th>                       
                        <th>
                            @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Phone)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Address)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Sex)
                        </th>                       
                        <th>
                            @Html.DisplayNameFor(model => model.Users.FirstOrDefault().LoginType)
                        </th>                                                                
                        <th>
                            @Html.DisplayNameFor(model => model.Users.FirstOrDefault().Status)
                        </th>
                       @*  <th>
                            @Html.DisplayNameFor(model => model.Users.FirstOrDefault().RoleName)
                        </th> *@
                        <th>
                            @Html.DisplayNameFor(model => model.Users.FirstOrDefault().CreatedAt)
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var user in Model.Users)
                    {
                        <tr>
                            <td>@user.Avatar</td>
                            <td>@user.Name</td>
                            <td data-original-value="@user.Email">@user.Email</td>
                            <td>@user.Phone</td>
                            <td data-original-value="@user.Address">@user.Address</td>
                            <td>
                                <select class="form-control" name="Sex">
                                    <option value="male" selected='@(user.Sex == "male" ? "selected" : "")'>Male</option>
                                    <option value="memale" selected='@(user.Sex == "memale" ? "selected" : "")'>Female</option>
                                    <option value="other" selected='@(user.Sex == "other" ? "selected" : "")'>Other</option>                                   
                                </select>
                            </td>
                            <td>
                                 <select class="form-control" name="LoginType">
                                    <option value="Normally" selected = '@(user.LoginType == "Normally" ? "selected" : "" )'>Normally</option>
                                    <option value="Facebook" selected='@(user.LoginType == "Facebook" ? "selected" : "")'>Facebook</option>
                                    <option value="Google" selected='@(user.LoginType == "Google" ? "selected" : "")'> Google</option>
                                    <option value="EmailAndPassword" selected='@(user.LoginType == "EmailAndPassword" ? "selected" : "")'>Email and Password</option>
                                    <option value="Phone" selected='@(user.LoginType == "Phone" ? "selected" : "")'>Phone</option>
                                </select>
                            </td>
                            <td>
                                <input type="checkbox" asp-for="@user.Status" class="form-check-input" />
                            </td>
                           @*  <td>
                                <select class="form-control" asp-for="@user.IdRole" asp-items="@(new SelectList(Model.Roles, "Id", "Name", user.IdRole))">
                                </select>
                            </td> *@
                            
                            <td>
                                <input type="datetime-local" class="form-control" asp-for="@user.CreatedAt" value="@user.CreatedAt.ToString("yyyy-MM-ddTHH:mm")" />
                            </td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-edit-alt me-1"></i> Edit</a>
                                        <a class="dropdown-item" href="javascript:void(0);"><i class="bx bx-trash me-1"></i> Delete</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }    
                </tbody>
            </table>
        </div>
    </div>
    <!--/ Basic Bootstrap Table -->

    <hr class="my-5" />

</div>

<div class="offcanvas offcanvas-end" id="add-new-record" aria-modal="true" role="dialog">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="exampleModalLabel">New Record</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body flex-grow-1">
        <form class="add-new-record pt-0 row g-2 fv-plugins-bootstrap5 fv-plugins-framework" id="form-add-new-record" onsubmit="return false" novalidate="novalidate">
            <div class="col-sm-12 fv-plugins-icon-container">
                <label class="form-label" for="basicFullname">Full Name</label>
                <div class="input-group input-group-merge has-validation">
                    <span id="basicFullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                    <input type="text" id="basicFullname" class="form-control dt-full-name" name="basicFullname" placeholder="John Doe" aria-label="John Doe" aria-describedby="basicFullname2" fdprocessedid="3y1myh">
                </div><div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
            </div>
            <div class="col-sm-12 fv-plugins-icon-container">
                <label class="form-label" for="basicPost">Post</label>
                <div class="input-group input-group-merge has-validation">
                    <span id="basicPost2" class="input-group-text"><i class="bx bxs-briefcase"></i></span>
                    <input type="text" id="basicPost" name="basicPost" class="form-control dt-post" placeholder="Web Developer" aria-label="Web Developer" aria-describedby="basicPost2" fdprocessedid="9pycm">
                </div><div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
            </div>
            <div class="col-sm-12 fv-plugins-icon-container">
                <label class="form-label" for="basicEmail">Email</label>
                <div class="input-group input-group-merge has-validation">
                    <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                    <input type="text" id="basicEmail" name="basicEmail" class="form-control dt-email" placeholder="john.doe@example.com" aria-label="john.doe@example.com" fdprocessedid="vr8iaq">
                </div><div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                <div class="form-text">
                    You can use letters, numbers &amp; periods
                </div>
            </div>
            <div class="col-sm-12 fv-plugins-icon-container">
                <label class="form-label" for="basicDate">Joining Date</label>
                <div class="input-group input-group-merge has-validation">
                    <span id="basicDate2" class="input-group-text"><i class="bx bx-calendar"></i></span>
                    <input type="text" class="form-control dt-date flatpickr-input" id="basicDate" name="basicDate" aria-describedby="basicDate2" placeholder="MM/DD/YYYY" aria-label="MM/DD/YYYY" readonly="readonly" fdprocessedid="ds5hpd">
                </div><div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
            </div>
            <div class="col-sm-12 fv-plugins-icon-container">
                <label class="form-label" for="basicSalary">Salary</label>
                <div class="input-group input-group-merge has-validation">
                    <span id="basicSalary2" class="input-group-text"><i class="bx bx-dollar"></i></span>
                    <input type="number" id="basicSalary" name="basicSalary" class="form-control dt-salary" placeholder="12000" aria-label="12000" aria-describedby="basicSalary2" fdprocessedid="9iihxl">
                </div><div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
            </div>
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary data-submit me-sm-3 me-1" fdprocessedid="13xitt">Submit</button>
                <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas" fdprocessedid="mmqxg">Cancel</button>
            </div>
            <input type="hidden">
        </form>

    </div>
</div>

@section scriptsAdminPage {
    @{
        await Html.RenderPartialAsync("_TableUserScriptsPartial");
    }
}


@section cssAdminPage {
    @{
        await Html.RenderPartialAsync("_TableBasePageCssPartial");
    }
}
