@model IEnumerable<UserDetailViewModel>

@{
    ViewData["Title"] = "User Management";
    var statusMessage = TempData["StatusMessage"] as string;
}

<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="py-3 mb-4"><span class="text-muted fw-light">Tables /</span> Basic Tables</h4>

    <!-- Basic Bootstrap Table -->
    <div class="card">
        <partial name="_StatusMessagePartial" model="statusMessage" />

        <div class="table-responsive text-nowrap p-4 pt-0">
            
            <table class="table table-striped" id="js-table-users">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Avatar)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DisplayName)
                        </th>                       
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        <th>
                            EC
                           @*  @Html.DisplayNameFor(model => model.EmailConfirmed) *@
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.PhoneNumber)
                        </th>
                        <th>
                            PC
                           @*  @Html.DisplayNameFor(model => model.PhoneNumberConfirmed) *@
                        </th>                      
                        <th>
                            @Html.DisplayNameFor(model => model.Address)
                        </th>                       
                        <th>
                            @Html.DisplayNameFor(model => model.Gender)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LoginProviders)
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody class="table-border-bottom-0">
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>
                                <img src="@user.Avatar" style="border-radius: .125rem;object-fit:cover;width:40px" />
                            </td>
                            <td>@user.DisplayName</td>
                            <td data-original-value="@user.Email">@user.Email</td>
                            <td>
                                <input type="checkbox" asp-for="@user.EmailConfirmed" class="form-check-input" />
                            </td>
                            <td data-original-value="@user.PhoneNumber">@user.PhoneNumber</td>
                            <td>
                                <input type="checkbox" asp-for="@user.PhoneNumberConfirmed" class="form-check-input" />
                            </td>
                            <td data-original-value="@user.Address">@user.Address</td>
                            <td>
                                <select class="form-control" name="Gender">
                                    <option value="male" selected='@(user.Gender == "male" ? "selected" : "")'>Male</option>
                                    <option value="memale" selected='@(user.Gender == "memale" ? "selected" : "")'>Female</option>
                                    <option value="other" selected='@(user.Gender == "other" ? "selected" : "")'>Other</option>
                                </select>
                            </td>
                           @*  <td>
                                <select class="form-control" name="LoginProviders">
                                   

                                    
                                    @if (user.LoginProviders.Any())
                                    {
                                        @foreach (var provider in user.LoginProviders)
                                        {
                                            <option value="@provider.ProviderKey" >@provider.ProviderDisplayName</option>
                                        }
                                    }
                                    else
                                    {
                                        <option value="any" selected >No external logins</option>
                                    }
                                </select>
                            </td> *@
                            <td>
                                <div class="accordion accordion-without-arrow">
                                    <div class="card accordion-item">
                                        <h2 class="accordion-header text-body d-flex justify-content-between">
                                            <button type="button"
                                                    class="accordion-button collapsed"
                                                    data-bs-toggle="collapse"
                                                    data-bs-target="#accordion-@user.Id"                                                   
                                                    aria-controls="accordion-@user.Id">
                                                Login Providers
                                            </button>
                                        </h2>
                                        <div id="accordion-@user.Id"
                                             class="accordion-collapse collapse"
                                             
                                            >
                                            <div class="accordion-body">
                                                @if (user.LoginProviders.Any())
                                                {
                                                    @foreach (var provider in user.LoginProviders)
                                                    {
                                                        @provider.ProviderDisplayName
                                                    }
                                                }
                                                else
                                                {
                                                    @:No external logins
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                               
                            </td>
                           @*  <td>
                                <input type="checkbox" asp-for="@user.Status" class="form-check-input" />
                            </td> *@
                           @*  <td>
                                <select class="form-control" asp-for="@user.IdRole" asp-items="@(new SelectList(Model.Roles, "Id", "Name", user.IdRole))">
                                </select>
                            </td> *@
                            
                           @*  <td>
                                <input type="datetime-local" class="form-control" asp-for="@user.CreatedAt" value="@user.CreatedAt.ToString("yyyy-MM-ddTHH:mm")" />
                            </td> *@
                            <td>
                                <div class="dropdown">
                                   @*  <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown"> *@
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <button class="dropdown-item js-action-edit" type="button" data-id="@user.Id" data-bs-toggle="modal"
                                                data-bs-target="#exLargeModalEdit">
                                            <i class="bx bx-edit-alt me-1"></i> Edit
                                        </button>
                                        <form asp-area="Admin" asp-controller="ManagerUsers" asp-action="DeleteUser" method="post">
                                            <input type="hidden" name="userId" value="@user.Id" />
                                            <button class="dropdown-item" type="submit" data-id="@user.Id"><i class="bx bx-trash me-1"></i> Delete</button>
                                        </form>                                  
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }    
                </tbody>
            </table>
        </div>
    </div>
    <!--/ Basic Bootstrap Table -->

    <hr class="my-5" />

</div>

<div class="offcanvas offcanvas-end" id="add-new-record" aria-modal="true" role="dialog">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title" id="exampleModalLabel">New Record</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body flex-grow-1">
        <form class="add-new-record pt-0 row g-2 fv-plugins-bootstrap5 fv-plugins-framework" id="form-add-new-record" onsubmit="return false" novalidate="novalidate">
            <div class="col-sm-12 fv-plugins-icon-container">
                <label class="form-label" for="basicFullname">Full Name</label>
                <div class="input-group input-group-merge has-validation">
                    <span id="basicFullname2" class="input-group-text"><i class="bx bx-user"></i></span>
                    <input type="text" id="basicFullname" class="form-control dt-full-name" name="basicFullname" placeholder="John Doe" aria-label="John Doe" aria-describedby="basicFullname2" fdprocessedid="3y1myh">
                </div><div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
            </div>
            <div class="col-sm-12 fv-plugins-icon-container">
                <label class="form-label" for="basicPost">Post</label>
                <div class="input-group input-group-merge has-validation">
                    <span id="basicPost2" class="input-group-text"><i class="bx bxs-briefcase"></i></span>
                    <input type="text" id="basicPost" name="basicPost" class="form-control dt-post" placeholder="Web Developer" aria-label="Web Developer" aria-describedby="basicPost2" fdprocessedid="9pycm">
                </div><div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
            </div>
            <div class="col-sm-12 fv-plugins-icon-container">
                <label class="form-label" for="basicEmail">Email</label>
                <div class="input-group input-group-merge has-validation">
                    <span class="input-group-text"><i class="bx bx-envelope"></i></span>
                    <input type="text" id="basicEmail" name="basicEmail" class="form-control dt-email" placeholder="john.doe@example.com" aria-label="john.doe@example.com" fdprocessedid="vr8iaq">
                </div><div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
                <div class="form-text">
                    You can use letters, numbers &amp; periods
                </div>
            </div>
            <div class="col-sm-12 fv-plugins-icon-container">
                <label class="form-label" for="basicDate">Joining Date</label>
                <div class="input-group input-group-merge has-validation">
                    <span id="basicDate2" class="input-group-text"><i class="bx bx-calendar"></i></span>
                    <input type="text" class="form-control dt-date flatpickr-input" id="basicDate" name="basicDate" aria-describedby="basicDate2" placeholder="MM/DD/YYYY" aria-label="MM/DD/YYYY" readonly="readonly" fdprocessedid="ds5hpd">
                </div><div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
            </div>
            <div class="col-sm-12 fv-plugins-icon-container">
                <label class="form-label" for="basicSalary">Salary</label>
                <div class="input-group input-group-merge has-validation">
                    <span id="basicSalary2" class="input-group-text"><i class="bx bx-dollar"></i></span>
                    <input type="number" id="basicSalary" name="basicSalary" class="form-control dt-salary" placeholder="12000" aria-label="12000" aria-describedby="basicSalary2" fdprocessedid="9iihxl">
                </div><div class="fv-plugins-message-container fv-plugins-message-container--enabled invalid-feedback"></div>
            </div>
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary data-submit me-sm-3 me-1" fdprocessedid="13xitt">Submit</button>
                <button type="reset" class="btn btn-outline-secondary" data-bs-dismiss="offcanvas" fdprocessedid="mmqxg">Cancel</button>
            </div>
            <input type="hidden">
        </form>

    </div>
</div>



<!-- Extra Large Modal Edit-->
<div class="modal fade" id="exLargeModalEdit" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel4">Edit User</h5>
                <button type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col mb-3">
                        <div class="d-flex align-items-start align-items-sm-center gap-4">
                            <img src="../assets/img/avatars/1.png"
                                 alt="user-avatar"
                                 class="d-block rounded"
                                 height="100"
                                 width="100"
                                 id="uploadedAvatar" />
                            <div class="button-wrapper">
                                <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                                    <span class="d-none d-sm-block">Upload new photo</span>
                                    <i class="bx bx-upload d-block d-sm-none"></i>
                                    <input type="file"
                                           id="upload"
                                           class="account-file-input"
                                           hidden
                                           accept="image/png, image/jpeg" />
                                </label>
                                <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                                    <i class="bx bx-reset d-block d-sm-none"></i>
                                    <span class="d-none d-sm-block">Reset</span>
                                </button>

                                <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                            </div>
                        </div>
                        <hr class="my-0" />
                    </div>
                </div>
                <div class="row g-2">
                    <div class="col mb-0">
                        <label for="displayExLarge" class="form-label">Display Name</label>
                        <input type="text"
                               id="displayExLarge"
                               class="form-control"
                               placeholder="Trần Duy Khánh" />
                    </div>
                    <div class="col mb-0">
                        <label for="genderExLarge" class="form-label">Gender</label>
                        <select id="genderExLarge" class="select2 form-select">
                            <option value="other">Other</option>
                            <option value="male">Male</option>
                            <option value="memale">Female</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" id="js-btn-model-edit" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section scriptsAdminPage {
    @{
        await Html.RenderPartialAsync("_TableUserScriptsPartial");
    }
}


@section cssAdminPage {
    @{
        await Html.RenderPartialAsync("_TableBasePageCssPartial");
    }
}
